<div>
  <h2 id="page-heading" data-cy="TickerHeading">
    <span jhiTranslate="saIlatestApp.ticker.home.title">Tickers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="saIlatestApp.ticker.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ticker"
        [routerLink]="['/ticker/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="saIlatestApp.ticker.home.createLabel">Create a new Ticker</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tickers?.length === 0">
    <span jhiTranslate="saIlatestApp.ticker.home.notFound">No Tickers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="tickers && tickers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="currency">
            <div class="d-flex">
              <span jhiTranslate="saIlatestApp.ticker.currency">Currency</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="saIlatestApp.ticker.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="displaySymbol">
            <div class="d-flex">
              <span jhiTranslate="saIlatestApp.ticker.displaySymbol">Display Symbol</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="figi">
            <div class="d-flex">
              <span jhiTranslate="saIlatestApp.ticker.figi">Figi</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isin">
            <div class="d-flex">
              <span jhiTranslate="saIlatestApp.ticker.isin">Isin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mic">
            <div class="d-flex">
              <span jhiTranslate="saIlatestApp.ticker.mic">Mic</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shareClassFIGI">
            <div class="d-flex">
              <span jhiTranslate="saIlatestApp.ticker.shareClassFIGI">Share Class FIGI</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="symbol">
            <div class="d-flex">
              <span jhiTranslate="saIlatestApp.ticker.symbol">Symbol</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="symbol2">
            <div class="d-flex">
              <span jhiTranslate="saIlatestApp.ticker.symbol2">Symbol 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="saIlatestApp.ticker.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="saIlatestApp.ticker.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticker of tickers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ticker', ticker.id, 'view']">{{ ticker.id }}</a>
          </td>
          <td>{{ ticker.currency }}</td>
          <td>{{ ticker.description }}</td>
          <td>{{ ticker.displaySymbol }}</td>
          <td>{{ ticker.figi }}</td>
          <td>{{ ticker.isin }}</td>
          <td>{{ ticker.mic }}</td>
          <td>{{ ticker.shareClassFIGI }}</td>
          <td>{{ ticker.symbol }}</td>
          <td>{{ ticker.symbol2 }}</td>
          <td>{{ ticker.type }}</td>
          <td>
            {{ ticker.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <ng-template #modalContent let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">Ticker Details</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div *ngFor="let item of modalData">
                    <p>Date: {{ item.date }}</p>
                    <p>Adj Close: {{ item.adjClose }}</p>
                    <p>Close: {{ item.close }}</p>
                    <p>High: {{ item.high }}</p>
                    <p>Low: {{ item.low }}</p>
                    <p>Open: {{ item.open }}</p>
                    <p>Volume: {{ item.volume }}</p>
                  </div>
                </div>
              </ng-template>

              <button (click)="openModal(modalContent, ticker.symbol!)">Ticker Data</button>

              <a [routerLink]="['/ticker', ticker.symbol, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/ticker', ticker.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(ticker)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- ******************************************************************************** -->

  <!-- ******************************************************************************** -->
  <div *ngIf="tickers && tickers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
